@charset "UTF-8";


body{
	
	text-align:center;
	
}


#title{
	

	width:600px;
	height: 300px;
	border:1px solid white;
	border-radius: 30px;
	background-color: white;
	margin:auto;
		margin-top:300px;
	text-align: center;
	
}


#title h2{
	
	margin:auto;
	margin-top:80px;
	font-size: 50px;
	color:#6a60a9;
	width:400px;
	border-bottom: 3px solid #6a60a9;
	margin-bottom:50px;
	

	
}


#mainF{
	
	background-color:white;
	
	width:1000px;
	height:800px;
	margin:auto;
	float:inherit;
	font-size: 50px;
	border:1px solid black;
	text-align: center;
	/*
    display: table-cell;
    vertical-align: middle;
    */
    margin-left:auto;
	
}


#form{
	
	text-align:center;
	width:500px;
	height:800px;
	background-color: white;
	margin:auto;
	margin-top:100px;
	
}

#form h1{
	
	

	margin:auto;
	margin-top:100px;
	margin-bottom:100px;
	width:300px;
	color:#7a60a9;
	border-bottom: 3px solid #6a60a9;
	
	
}


#startB{
	
	width:200px;
	height:50px;
	
	color:#6a60a9;
	background-color: white;
	border:3px solid #6a60a9;
	border-radius: 30px;
	
	font-size:20pt;
	

	
	
}


#startB:hover{
	
	
		background-color:#6a60a9;
		color:#ffffff;
	
	
}


#number{
	
	height:50px;
	
	border:2px solid gray;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
}

.seat{
	
	
	width:100px;
	height:50px;
	border : 2px solid #6a60a9;
	float:left;
	display: inline-block;
	margin-bottom: 50px;
	font-size:25pt;
	color:white;
	background-color:#a991c1;
	border-radius: 10px;
}


#box{
	

	margin:auto;
	margin-bottom:100px;
	display:inline-block;
	min-width:1400px;
	min-height:50px;
	overflow:hidden;
	border:10px solid #6a60a9;
	border-radius: 40px;
	background-color: #ffffff;
	text-align: center;
	
	
}



#box table{
	
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;

}


#box table th{
	
	width:250px;
	text-align:left;
	color:#444444;
	font-size:20pt;
	
}

#box table tr{
	
	height:70px;
	
}


#box table input[type="submit"]{
	
	margin:50px;
	
}

#frame{
	
	
	display:inline-block;
	padding-left:50px;
	margin:auto;
	min-height: 50px;
	overflow:hidden;
	background-color: #ffffff;
	
}

.space{
	
	
	width:100px;
	height:50px;
	float:left;
	display: inline-block;
	
}


input {
	
	text-align :center;
	
}


input[type="number"]{

	height:50px;
	border:3px solid gray;
	border-radius: 30px;
	font-size:20pt;	
}

input[type="text"]{
	height:50px;
	border:3px solid gray;
	border-radius: 30px;
	font-size:20pt;	
	
}


#top{
	
background-color: #6a60a9;
color:#ffffff;
width:100%;
height:100px;
font-size:20pt;

}


#top th{
	
	
	width:70%;
	
}

#top td{
	
	width:10%;
	text-align:center;
	
}

#top a{
	
	text-decoration: none;
	color:white;
	
	
}

#reTitle{
	
	margin:auto;
	margin-top:50px;
	width:300px;
	font-size:50pt;
	color:#ffffff;
	background-color: #6a60a9;
	
}

#item{
	
	margin:auto; 
	margin-top:50px;
	width:600px;
	height:70px;
	border:1px solid #ca8857;
	background-color: #ca8857;
	line-height: 3em;
	font-size:20px;
	color:#9b5f31;
	font-weight: bolder;
	
}


#ButtonGroup input[type="submit"]{
	
	width:250px;
	height: 50px;
	margin:20px;
	color:white;
	background-color:#6a60a9;
	border: 1px solid #ffffff;
	font-size:15pt;
	font-weight: 900;
	
	
}

#ButtonGroup input[type="submit"]:hover{
	

	background-color:#ca8857;


}

#listTable{
	
	width:1200px;
	font-size:20pt;
	
}


#listTable a{
	
	text-decoration: none;
	color:#6a60a9;
	
}


#listTable a:hover{
	
	
	font-weight: 900;
	
}